**/build/
**/.gradle/
**/.kotlin/
**/.idea/
**/local.properties
**/keystore.properties
**/keystore/
*.jks
*.keystore
*.apk
*.aab
*.exe
*.log
*.class
.DS_Store
Thumbs.db

*.p12
*.pfx
*.key
*PRIVATE-credentials*
.env
.env.*
